DB2/workflow.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Response": {
                "type": "Response",
                "kind": "Http",
                "inputs": {
                    "statusCode": 200,
                    "body": "@outputs('Compose')"
                },
                "runAfter": {
                    "Execute_query": [
                        "SUCCEEDED"
                    ]
                }
            },
            "Initialize_variable": {
                "type": "InitializeVariable",
                "inputs": {
                    "variables": [
                        {
                            "name": "TrackingId",
                            "type": "string",
                            "value": "@{triggerBody()}"
                        }
                    ]
                },
                "runAfter": {},
                "trackedProperties": {}
            },
            "Execute_query": {
                "type": "ServiceProvider",
                "inputs": {
                    "parameters": {
                        "query": "select 1 from dual;"
                    },
                    "serviceProviderConfiguration": {
                        "connectionName": "DB2",
                        "operationId": "executeQuery",
                        "serviceProviderId": "/serviceProviders/DB2"
                    }
                },
                "runAfter": {
                    "Initialize_variable": [
                        "SUCCEEDED"
                    ]
                },
                "trackedProperties": {}
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "triggers": {
            "When_a_HTTP_request_is_received": {
                "type": "Request",
                "kind": "Http",
                "inputs": {
                    "schema": {
                        "id": "string"
                    }
                },
                "correlation": {
                    "clientTrackingId": "@{coalesce(triggerBody()?['id'], guid())}"
                }
            }
        }
    },
    "kind": "Stateful"
}